/**
*
* Link
*
**/

a {
  color: $colorBlue;
}

a:hover {
  text-decoration: none;
}

.cta--primary {
  @include style-cta($colorBlue, $icon-chevron-right);
}

.cta--secondary {
  @include style-cta($colorBlue);
}

.mylink {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 5px 20px;
  border: solid 2px #551a8b;
  -webkit-transition: background-color 0.3s ease-out;
          transition: background-color 0.3s ease-out;
}

.mylink:hover {
  background-color: rgba(255, 255, 255, 1);
  color: #551a8b;
}
